* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.circle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80vh;
    height: 80vh;
    /* border: 4px solid #000; */
    transform-origin: 0 0;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: all 1s linear;
}

.circle--border {
    border: 4px solid #000;
    animation: none;
    transform: translate(-50%, -50%);
}

.circle__central-point,
.circle__cursor-point,
.circle__line {
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 100%);
    width: 3px;
    height: var(--height);
    border-radius: 50%;
    background-color: var(--bg-color);
}

.circle__line--full {
    height: 50%;
    bottom: 50%;
    background-color: #000
}

.circle__central-point {
    width: 24px;
    height: 24px;
    transform: translate(-50%, 50%);
    background-color: var(--bg-color);
}

.circle__cursor-point {
    bottom: 0;
    width: 24px;
    height: 24px;
    transform: translate(-50%, 0);
}